# NL2SQL Practice


이번 실습에서는:
- SQLite 메모리 DB를 사용해 SCOTT 샘플 데이터베이스 (테이블)를 로드합니다.
- 기본적인 SQL 쿼리를 실행하고 결과를 확인하는 방법을 연습합니다.
- NL2SQL을 실습해봅니다.

In [ ]:
import sqlite3 # Built-in Python library for working with SQLite databases
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# create cursor object to execute SQL statements
cur = conn.cursor()


def q(sql, params=None):
    """
    Helper function to run a SQL query and return the result as a Pandas DataFrame.

    Args:
        sql (str): SQL query string .
        params (list/tuple, optional): Parameters for parameterized queries (to avoid SQL injection).

    Returns:
        pandas.DataFrame: Query results as a DataFrame.
    """

    df = pd.read_sql_query(sql, conn, params=params or [])
    return df

## The sample database (SCOTT)

테이블 정보

- **EMP**: 직원 정보 (empno, ename, job, mgr, hiredate, sal, comm, deptno)
- **DEPT**: 부서 정보 (deptno, dname, loc)
- **SALGRADE**: 급여 등급 구간 정보 (grade, losal, hisal)

다음과 같은 쿼리를 실행해 테이블 구조와 데이터를 직접 확인할 수 있습니다.
- `SELECT * FROM EMP LIMIT 5;`
- `SELECT * FROM DEPT;`

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS EMP;
DROP TABLE IF EXISTS DEPT;
DROP TABLE IF EXISTS SALGRADE;
DROP TABLE IF EXISTS BONUS;

CREATE TABLE DEPT (
  DEPTNO INTEGER PRIMARY KEY,
  DNAME  TEXT,
  LOC    TEXT
);

CREATE TABLE EMP (
  EMPNO    INTEGER PRIMARY KEY,
  ENAME    TEXT,
  JOB      TEXT,
  MGR      INTEGER,
  HIREDATE TEXT,   -- SQLite는 DATE 타입을 엄격히 강제하지 않아 보통 TEXT로 저장
  SAL      INTEGER,
  COMM     INTEGER,
  DEPTNO   INTEGER,
  FOREIGN KEY (DEPTNO) REFERENCES DEPT(DEPTNO)
);

CREATE TABLE SALGRADE (
  GRADE INTEGER,
  LOSAL INTEGER,
  HISAL INTEGER
);

CREATE TABLE BONUS (
  ENAME TEXT,
  JOB   TEXT,
  SAL   INTEGER,
  COMM  INTEGER
);

INSERT INTO DEPT VALUES
(10,'ACCOUNTING','NEW YORK'),
(20,'RESEARCH','DALLAS'),
(30,'SALES','CHICAGO'),
(40,'OPERATIONS','BOSTON');

INSERT INTO EMP VALUES
(7369,'SMITH','CLERK',7902,'1980-12-17',800,NULL,20),
(7499,'ALLEN','SALESMAN',7698,'1981-02-20',1600,300,30),
(7521,'WARD','SALESMAN',7698,'1981-02-22',1250,500,30),
(7566,'JONES','MANAGER',7839,'1981-04-02',2975,NULL,20),
(7654,'MARTIN','SALESMAN',7698,'1981-09-28',1250,1400,30),
(7698,'BLAKE','MANAGER',7839,'1981-05-01',2850,NULL,30),
(7782,'CLARK','MANAGER',7839,'1981-06-09',2450,NULL,10),
(7788,'SCOTT','ANALYST',7566,'1987-07-13',3000,NULL,20),
(7839,'KING','PRESIDENT',NULL,'1981-11-17',5000,NULL,10),
(7844,'TURNER','SALESMAN',7698,'1981-09-08',1500,0,30),
(7876,'ADAMS','CLERK',7788,'1987-07-13',1100,NULL,20),
(7900,'JAMES','CLERK',7698,'1981-12-03',950,NULL,30),
(7902,'FORD','ANALYST',7566,'1981-12-03',3000,NULL,20),
(7934,'MILLER','CLERK',7782,'1982-01-23',1300,NULL,10);

INSERT INTO SALGRADE VALUES
(1,  700, 1200),
(2, 1201, 1400),
(3, 1401, 2000),
(4, 2001, 3000),
(5, 3001, 9999);
""")

# Commit
conn.commit()


# Quick sanity check: show the first 5 rows from EMP
q("SELECT * FROM EMP LIMIT 5;")

   EMPNO   ENAME       JOB   MGR    HIREDATE   SAL    COMM  DEPTNO
0   7369   SMITH     CLERK  7902  1980-12-17   800     NaN      20
1   7499   ALLEN  SALESMAN  7698  1981-02-20  1600   300.0      30
2   7521    WARD  SALESMAN  7698  1981-02-22  1250   500.0      30
3   7566   JONES   MANAGER  7839  1981-04-02  2975     NaN      20
4   7654  MARTIN  SALESMAN  7698  1981-09-28  1250  1400.0      30

## Part A. SQL Warm-up (run SQL directly)

- 먼저 SQL을 직접 작성하면서 기본 쿼리 실행을 연습합니다.
- 한번에 SQL 한문장씩 실행하고, 출력 결과를 확인해보세요.

In [ ]:
# 월급이 2000이상인 직원들을 월급 기준 내림차순으로 정렬해서 출력

q("""
SELECT ename, job, sal
FROM emp
WHERE sal >= 2000
ORDER BY sal DESC;
""")

   ENAME        JOB   SAL
0   KING  PRESIDENT  5000
1  SCOTT    ANALYST  3000
2   FORD    ANALYST  3000
3  JONES    MANAGER  2975
4  BLAKE    MANAGER  2850
5  CLARK    MANAGER  2450

In [ ]:
# 직원 이름/직무, 부서명/부서위치를 출력하되, 부서 번호 -> 이름 순으로 정렬

q("""
SELECT e.ename, e.job, d.dname, d.loc
FROM emp e
JOIN dept d ON e.deptno = d.deptno
ORDER BY d.deptno, e.ename;
""")

     ENAME        JOB       DNAME       LOC
0    CLARK    MANAGER  ACCOUNTING  NEW YORK
1     KING  PRESIDENT  ACCOUNTING  NEW YORK
2   MILLER      CLERK  ACCOUNTING  NEW YORK
3    ADAMS      CLERK    RESEARCH    DALLAS
4     FORD    ANALYST    RESEARCH    DALLAS
5    JONES    MANAGER    RESEARCH    DALLAS
6    SCOTT    ANALYST    RESEARCH    DALLAS
7    SMITH      CLERK    RESEARCH    DALLAS
8    ALLEN   SALESMAN       SALES   CHICAGO
9    BLAKE    MANAGER       SALES   CHICAGO
10   JAMES      CLERK       SALES   CHICAGO
11  MARTIN   SALESMAN       SALES   CHICAGO
12  TURNER   SALESMAN       SALES   CHICAGO
13    WARD   SALESMAN       SALES   CHICAGO

In [ ]:
# 부서별 평균 월급을 계산해 평균 월급이 높은 부서부터 출력

q("""
SELECT d.dname, ROUND(AVG(e.sal), 1) AS avg_sal
FROM dept d
JOIN emp e ON e.deptno = d.deptno
GROUP BY d.dname
ORDER BY avg_sal DESC;
""")

        DNAME  avg_sal
0  ACCOUNTING   2916.7
1    RESEARCH   2175.0
2       SALES   1566.7

In [ ]:
# 커미션이 null이면 0으로 처리해 월급 + 커미션 (총 급여)를 계산하고, 총 급여가 높은 순으로 출력

q("""
SELECT ename,
       sal + COALESCE(comm, 0) AS total_pay
FROM emp
ORDER BY total_pay DESC;
""")

     ENAME  total_pay
0     KING       5000
1    SCOTT       3000
2     FORD       3000
3    JONES       2975
4    BLAKE       2850
5   MARTIN       2650
6    CLARK       2450
7    ALLEN       1900
8     WARD       1750
9   TURNER       1500
10  MILLER       1300
11   ADAMS       1100
12   JAMES        950
13   SMITH        800

## Part B. NL2SQL

- 해당 섹션에서는 사용자가 자연어 질문 (NLQ)을 입력하면, 모델이 이에 해당하는 SQL 쿼리를 생성합니다.
- 생성된 SQL은 이 노트북에서 만든 SQLite 데이터베이스에서 바로 실행됩니다.
- `os.environ["OPENAI_API_KEY"] = "YOUR_OPENAI_API_KEY_HERE"` 부분을 고쳐주세요

In [ ]:
# Install dependencies
!pip -q install openai pydantic

import os
from getpass import getpass
from openai import OpenAI


# PASTE YOUR API KEY HERE
os.environ["OPENAI_API_KEY"] = "YOUR_OPENAI_API_KEY_HERE" #### FIXME

client = OpenAI()
MODEL = "gpt-4o-mini"

In [ ]:
SCHEMA_CARD = """
You are generating SQL for a SQLite database with the classic SCOTT schema.

Tables:
- EMP(empno, ename, job, mgr, hiredate, sal, comm, deptno)
- DEPT(deptno, dname, loc)
- SALGRADE(grade, losal, hisal)
- BONUS(ename, job, sal, comm)  -- rarely used

Joins:
- EMP.deptno = DEPT.deptno
- Salary grade: EMP.sal BETWEEN SALGRADE.losal AND SALGRADE.hisal

SQLite notes:
- Use COALESCE(x, 0) for NULL handling.
- Use LIMIT n for top-n.
- Dates are stored as text like '1981-11-17'.
"""
print(SCHEMA_CARD)

You are generating SQL for a SQLite database with the classic SCOTT schema.

Tables:
- EMP(empno, ename, job, mgr, hiredate, sal, comm, deptno)
- DEPT(deptno, dname, loc)
- SALGRADE(grade, losal, hisal)
- BONUS(ename, job, sal, comm)  -- rarely used

Joins:
- EMP.deptno = DEPT.deptno
- Salary grade: EMP.sal BETWEEN SALGRADE.losal AND SALGRADE.hisal

SQLite notes:
- Use COALESCE(x, 0) for NULL handling.
- Use LIMIT n for top-n.
- Dates are stored as text like '1981-11-17'.

In [ ]:
import re
from pydantic import BaseModel, Field


# Define the structured output format we want from the LLM
class NL2SQLResult(BaseModel):

    # The model must return exactly ONE SQLite SELECT (read-only) query
    sql: str = Field(description="A single SQLite SELECT query only. No INSERT/UPDATE/DELETE/DDL.")

    # Short explanation (1–2 lines) describing why the SQL answers the question
    explanation: str = Field(description="1-2 lines: why this SQL answers the question (Korean).")

In [ ]:
# Keywords that we explicitly block to prevent any data modification or risky commands
BANNED = [
    "insert", "update", "delete", "drop", "alter", "create", "replace",
    "attach", "detach", "pragma", "vacuum", "truncate"
]

def sanitize_sql(sql: str) -> str:
    """Clean and validate the SQL returned by the LLM to ensure it is safe and well-formed."""
    s = sql.strip()

    # remove code fence
    s = re.sub(r"^```sql\s*", "", s, flags=re.IGNORECASE).strip()
    s = re.sub(r"^```\s*", "", s).strip()
    s = re.sub(r"\s*```$", "", s).strip()

    #
    parts = [p.strip() for p in s.split(";") if p.strip()]
    if len(parts) != 1:
        raise ValueError("Only ONE SQL statement is allowed.")
    s = parts[0] + ";"

    low = s.lower()
    if not (low.startswith("select") or low.startswith("with")):
        raise ValueError("Only SELECT/WITH queries are allowed.")

    for kw in BANNED:
        if re.search(rf"\b{kw}\b", low):
            raise ValueError(f"Disallowed keyword detected: {kw}")

    return s

In [ ]:
def llm_nl2sql(nl_question: str) -> NL2SQLResult:
    """Ask the LLM to convert a natural-language question into a safe SQLite SELECT query."""

    instructions = (
        "You are an expert SQL engineer.\n"
        "Return ONLY one SQLite SELECT query that answers the user question.\n"
        "Use only the tables/columns provided.\n"
        "Do not modify data. No DDL/DML.\n"
        "Prefer simple queries. Use JOIN/GROUP BY/HAVING/subquery when needed.\n"
        "If the question is ambiguous, make a reasonable assumption and mention it briefly in explanation.\n"
    )

    # Call the OpenAI API with Structured Outputs so the response matches NL2SQLResult
    resp = client.responses.parse(
        model=MODEL,
        instructions=instructions,
        input=[
            {"role": "user", "content": SCHEMA_CARD},
            {"role": "user", "content": f"User question (Korean): {nl_question}"}
        ],
        text_format=NL2SQLResult,
    )

    # Extract the parsed structured output
    out = resp.output_parsed

    # Validate the generated SQL before executing it
    out.sql = sanitize_sql(out.sql)
    return out

In [ ]:
def run_nl2sql(nl_question: str, retry: bool = True):
    # 1) Generate SQL from the natural-language question
    out = llm_nl2sql(nl_question)
    print("NLQ:", nl_question)
    print("\nSQL:\n", out.sql)
    print("\nDescription:", out.explanation)

    # 2) Execute the generated SQL on the SQLite dataset
    try:
        df = q(out.sql)
        return df

    except Exception as e:
        # If execution fails, print the SQLite error message
        print("\nError Message:", str(e))

        if not retry:
            return None

        # 3) One-time automatic fix: ask the LLM to correct the SQL using the error message
        fix_prompt = f"""
The SQL failed on SQLite. Fix it.
- Return a single SQLite SELECT query.
- Keep it minimal.
User question: {nl_question}
SQL you wrote:
{out.sql}
SQLite error:
{str(e)}
"""
        # Call the LLM again to produce a corrected SQL query
        resp = client.responses.parse(
            model=MODEL,
            instructions="Fix the SQL. Output only one SELECT query and 1-2 line explanation in Korean.",
            input=[
                {"role": "user", "content": SCHEMA_CARD},
                {"role": "user", "content": fix_prompt}
            ],
            text_format=NL2SQLResult,
        )
        fixed = resp.output_parsed
        fixed.sql = sanitize_sql(fixed.sql)

        print("\nRevised SQL:\n", fixed.sql)
        print("\nRevised Description:", fixed.explanation)

        try:
            return q(fixed.sql)
        except Exception as e2:
            print("\nStill Fails:", str(e2))
            return None

In [ ]:
QUESTIONS = [

    # Part A의 SQL들
    "월급이 2000이상인 직원들을 월급 기준 내림차순으로 정렬해서 출력해줘",
    "직원 이름/직무, 부서명/부서위치를 출력하되, 부서 번호 -> 이름 순으로 정렬해줘",
    "부서별 평균 월급을 계산해 평균 월급이 높은 부서부터 출력해줘",
    "커미션이 null이면 0으로 처리해 월급 + 커미션 (총 급여)를 계산하고, 총 급여가 높은 순으로 출력해줘",

    # 랭킹
    "이 회사에서 월급(SAL)을 가장 많이 받는 TOP 3는 누구고, 각자 부서는 어디야?",
    "커미션(COMM)까지 합친 총 보상(sal+comm)이 가장 큰 사람 TOP 5를 보여줘.",
    "월급이 평균보다 높은 사람들만 이름과 월급을 보여줘. (회사 전체 평균 기준)",

    # 조직/관계(SELF-JOIN)
    "각 직원의 '상사 이름'을 같이 보여줘. (상사가 없는 사람도 포함)",
    "상사(MGR)별로 부하직원 수를 세어서, 부하가 많은 상사부터 정렬해줘.",

    # 부서 비교(GROUP BY)
    "부서별로 직원 수와 평균 월급을 같이 보여줘. 평균 월급이 높은 순으로!",
    "부서별로 (최고 월급 - 최저 월급) 격차가 큰 부서부터 보여줘.",

    # 조건/NULL
    "커미션이 있는 사람만 보여줘. 그리고 커미션이 월급보다 큰 사람도 찾아줘.",
    "입사연도(hiredate의 연도)별로 몇 명이 입사했는지 보여줘.",

    # 조인 2개 이상(급여등급)
    "급여 등급(SALGRADE)별로 직원 수를 보여줘. 등급 낮은 순으로.",
    "급여 등급이 4 이상인 사람들의 이름, 월급, 등급을 보여줘.",

    # HAVING(그룹 조건)
    "직업(JOB)별 평균 월급을 보여주되, 직원 수가 2명 이상인 직업만 보여줘.",
]

for i, qtext in enumerate(QUESTIONS, 1):
    print(f"{i:02d}. {qtext}")

01. 월급이 2000이상인 직원들을 월급 기준 내림차순으로 정렬해서 출력해줘
02. 직원 이름/직무, 부서명/부서위치를 출력하되, 부서 번호 -> 이름 순으로 정렬해줘
03. 부서별 평균 월급을 계산해 평균 월급이 높은 부서부터 출력해줘
04. 커미션이 null이면 0으로 처리해 월급 + 커미션 (총 급여)를 계산하고, 총 급여가 높은 순으로 출력해줘
05. 이 회사에서 월급(SAL)을 가장 많이 받는 TOP 3는 누구고, 각자 부서는 어디야?
06. 커미션(COMM)까지 합친 총 보상(sal+comm)이 가장 큰 사람 TOP 5를 보여줘.
07. 월급이 평균보다 높은 사람들만 이름과 월급을 보여줘. (회사 전체 평균 기준)
08. 각 직원의 '상사 이름'을 같이 보여줘. (상사가 없는 사람도 포함)
09. 상사(MGR)별로 부하직원 수를 세어서, 부하가 많은 상사부터 정렬해줘.
10. 부서별로 직원 수와 평균 월급을 같이 보여줘. 평균 월급이 높은 순으로!
11. 부서별로 (최고 월급 - 최저 월급) 격차가 큰 부서부터 보여줘.
12. 커미션이 있는 사람만 보여줘. 그리고 커미션이 월급보다 큰 사람도 찾아줘.
13. 입사연도(hiredate의 연도)별로 몇 명이 입사했는지 보여줘.
14. 급여 등급(SALGRADE)별로 직원 수를 보여줘. 등급 낮은 순으로.
15. 급여 등급이 4 이상인 사람들의 이름, 월급, 등급을 보여줘.
16. 직업(JOB)별 평균 월급을 보여주되, 직원 수가 2명 이상인 직업만 보여줘.

In [ ]:
idx = int(input("풀어보고 싶은 질문 번호를 입력하세요 (1~{}): ".format(len(QUESTIONS))))
chosen = QUESTIONS[idx - 1]
df = run_nl2sql(chosen)
df

풀어보고 싶은 질문 번호를 입력하세요 (1~16): 1
NLQ: 월급이 2000이상인 직원들을 월급 기준 내림차순으로 정렬해서 출력해줘

SQL:
 SELECT empno, ename, sal FROM EMP WHERE sal >= 2000 ORDER BY sal DESC;

Description: 월급이 2000 이상인 직원들을 조회하고, 월급 기준으로 내림차순으로 정렬하기 위해 sal 컬럼을 기준으로 정렬한 쿼리입니다.

   EMPNO  ENAME   SAL
0   7839   KING  5000
1   7788  SCOTT  3000
2   7902   FORD  3000
3   7566  JONES  2975
4   7698  BLAKE  2850
5   7782  CLARK  2450

## (Advanced) NL2SQL with Complex Databases

Beaver Dataset https://peterbaile.github.io/beaver/

BEAVER는 “실제 기업/기관의 데이터웨어하우스”에서 수집된 **자연어 질의 + 정답 SQL**로 구성된 Text-to-SQL 벤치마크입니다.
기존 WikiSQL/Spider처럼 웹 테이블 기반이 아니라, **현업 쿼리 로그**에서 나온 SQL을 기반으로 해서 스키마/조인/집계가 더 현실적이고 복잡합니다.

- **스키마 규모가 큼**: 데이터베이스당 테이블 수가 많고(평균 수십~100개 수준), 컬럼도 많아 조인 후보/경로가 폭발합니다.
- **엔터프라이즈 DW 특성**: 이름/약어/코드값이 많고, 비즈니스 로직이 SQL에 녹아있는 경우가 흔합니다.
- **실제 운영 DB 기반**: 논문/릴리즈에서 BEAVER는 실제 조직의 데이터웨어하우스에서 수집된 DB이며, Oracle/MySQL 기반으로 구성된 DB를 포함합니다.  
  (수업에서는 편의상 Supabase(PostgreSQL)로 옮겨 실습합니다.)

이 실습에서는 BEAVER의 Library 도메인 일부 테이블을 사용합니다:
- `LIBRARY_COURSE_INSTRUCTOR`
- `LIBRARY_SUBJECT_OFFERED`
- `LIBRARY_RESERVE_MATRL_DETAIL`
- `LIBRARY_RESERVE_CATALOG`

In [1]:
!pip -q install psycopg-binary pandas

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 74.7 MB/s eta 0:00:00

In [32]:
import os, re
import psycopg2
import pandas as pd
from openai import OpenAI

In [41]:
DB_URL = 'postgresql://postgres.yjejhheqrvuzgweovakm:bigdata1234!@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres'
OPENAI_API_KEY= 'sk-XX'

In [42]:
conn = psycopg2.connect(DB_URL)
client = OpenAI(api_key=OPENAI_API_KEY)

### NL 질문 (with mappings / join keys)

**Question**
> List the unique course instructor names, course titles, and the amount of material for each course instructor key and the key of subject offered.

**Mappings**
- course instructor names: `LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME`
- course titles: `LIBRARY_SUBJECT_OFFERED.SUBJECT_TITLE`
- amount of material: `LIBRARY_RESERVE_CATALOG.CATALOG_ISBN`
- course instructor key: `LIBRARY_COURSE_INSTRUCTOR.LIBRARY_COURSE_INSTRUCTOR_KEY`
- key of subject offered: `LIBRARY_SUBJECT_OFFERED.LIBRARY_SUBJECT_OFFERED_KEY`

**Join Keys**
- `LIBRARY_COURSE_INSTRUCTOR.LIBRARY_COURSE_INSTRUCTOR_KEY = LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_COURSE_INSTRUCTOR_KEY`
- `LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_SUBJECT_OFFERED_KEY = LIBRARY_SUBJECT_OFFERED.LIBRARY_SUBJECT_OFFERED_KEY`
- `LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_RESERVE_CATALOG_KEY = LIBRARY_RESERVE_CATALOG.LIBRARY_RESERVE_CATALOG_KEY`

In [56]:
# 실제 테이블 존재하는지 체크
q = """
select table_schema, table_name
from information_schema.tables
where table_schema not in ('pg_catalog','information_schema')
  and table_type='BASE TABLE'
  and table_name ilike 'LIBRARY_%'
order by table_schema, table_name;
"""
display(pd.read_sql(q, conn))

/tmp/ipython-input-1918882417.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql(q, conn))

  table_schema                    table_name
0       public     LIBRARY_COURSE_INSTRUCTOR
1       public       LIBRARY_RESERVE_CATALOG
2       public  LIBRARY_RESERVE_MATRL_DETAIL
3       public       LIBRARY_SUBJECT_OFFERED

In [57]:
QUESTION = """
List the course instructor names, course titles, and the amount of material
for each course instructor key and the key of subject offered.
"""

MAPPINGS_AND_JOINS = """
Mappings:
- course instructor names: LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME
- course titles: LIBRARY_SUBJECT_OFFERED.SUBJECT_TITLE
- amount of material: LIBRARY_RESERVE_CATALOG.CATALOG_ISBN
- course instructor key: LIBRARY_COURSE_INSTRUCTOR.LIBRARY_COURSE_INSTRUCTOR_KEY
- key of subject offered: LIBRARY_SUBJECT_OFFERED.LIBRARY_SUBJECT_OFFERED_KEY

Join Keys:
- LIBRARY_COURSE_INSTRUCTOR.LIBRARY_COURSE_INSTRUCTOR_KEY = LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_COURSE_INSTRUCTOR_KEY
- LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_SUBJECT_OFFERED_KEY = LIBRARY_SUBJECT_OFFERED.LIBRARY_SUBJECT_OFFERED_KEY
- LIBRARY_RESERVE_MATRL_DETAIL.LIBRARY_RESERVE_CATALOG_KEY = LIBRARY_RESERVE_CATALOG.LIBRARY_RESERVE_CATALOG_KEY
"""

NL_PROMPT = f"""
You are generating SQL for PostgreSQL.

CRITICAL SQL STYLE REQUIREMENTS:
1) All identifiers MUST be double-quoted with exact case: "TABLE"."COLUMN".
   Never use unquoted identifiers.
2) Do NOT use table aliases (no AS i, no short names).
   Always reference columns as "TABLE"."COLUMN".
3) Use only the tables and columns listed in the mappings and join keys.
4) Append: LIMIT 100;

Task:
{QUESTION}

{MAPPINGS_AND_JOINS}

Return a single SQL query only. No explanation. No markdown.
"""

def extract_sql(text: str) -> str:
    # 코드블럭으로 오면 제거
    m = re.search(r"```(?:sql)?\s*(.*?)```", text, flags=re.S|re.I)
    return (m.group(1) if m else text).strip()

resp = client.chat.completions.create(
    model="gpt-4o-mini",
    temperature=0,
    messages=[
        {"role":"system","content":"Output a single PostgreSQL SQL query only."},
        {"role":"user","content": NL_PROMPT}
    ],
)

LLM_SQL = extract_sql(resp.choices[0].message.content)

print("=== LLM SQL ===")
print(LLM_SQL)

=== LLM SQL ===
SELECT "LIBRARY_COURSE_INSTRUCTOR"."INSTRUCTOR_NAME", "LIBRARY_SUBJECT_OFFERED"."SUBJECT_TITLE", "LIBRARY_RESERVE_CATALOG"."CATALOG_ISBN", "LIBRARY_COURSE_INSTRUCTOR"."LIBRARY_COURSE_INSTRUCTOR_KEY", "LIBRARY_SUBJECT_OFFERED"."LIBRARY_SUBJECT_OFFERED_KEY"
FROM "LIBRARY_COURSE_INSTRUCTOR"
JOIN "LIBRARY_RESERVE_MATRL_DETAIL" ON "LIBRARY_COURSE_INSTRUCTOR"."LIBRARY_COURSE_INSTRUCTOR_KEY" = "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_COURSE_INSTRUCTOR_KEY"
JOIN "LIBRARY_SUBJECT_OFFERED" ON "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_SUBJECT_OFFERED_KEY" = "LIBRARY_SUBJECT_OFFERED"."LIBRARY_SUBJECT_OFFERED_KEY"
JOIN "LIBRARY_RESERVE_CATALOG" ON "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_RESERVE_CATALOG_KEY" = "LIBRARY_RESERVE_CATALOG"."LIBRARY_RESERVE_CATALOG_KEY"
LIMIT 100;

In [58]:
try:
    llm_df = pd.read_sql(LLM_SQL, conn)
    print("LLM result rows:", len(llm_df))
    display(llm_df.head(50))
except Exception as e:
    llm_df = None
    print("LLM SQL execution failed:", e)

/tmp/ipython-input-2621000102.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  llm_df = pd.read_sql(LLM_SQL, conn)

LLM result rows: 100

,INSTRUCTOR_NAME,SUBJECT_TITLE,CATALOG_ISBN,LIBRARY_COURSE_INSTRUCTOR_KEY,LIBRARY_SUBJECT_OFFERED_KEY
0,"Hewitt, Helen",Film Music,0974709913,21M.284-HEWITT132013SP:21M.284,21M.2842013SP
1,"Spence, Pearl",Biomed Signal &Image Processng,1580539661,HST.582-SPENCE182018SP:HST.582,HST.5822018SP
2,"Nash, Lyndon",Music Since 1960,None,21M.263-NASH2008SP:21M.263,21M.2632008SP
3,"Walter, Katrina",UG Arch Design Thesis Prep,4846523276,4.119-WALTER2011FA:4.119,4.1192011FA
4,"Kelly, Lucinda",World Literatures,9781620403365,21L.007-KELLY192020FA:21L.007,21L.0072020FA
5,"Copeland, Marianne",Ecological Urbanism Seminar,0944661246,11.308-COPELAND152016FA:11.308,11.3082016FA
6,"Gordon, Georgina",Differential Equations,9780136006138,18.03-GORDON2012FA:18.03,18.032012FA
7,"Luna, Martha",Chinese IV (Streamlined),9780415841344 (hardback),21G.110-LUNA162016SP:21G.110,21G.1102016SP
8,"Frost, Maisie",Intro to Western Music,None,21M.011-FROST2010SP:21M.011,21M.0112010SP
9,"Kelly, Howard",Intro to Western Music,None,21M.011-KELLY2009SP:21M.011,21M.0112009SP
10,"Olson, Lola",Lab in Psycholinguistics,None,24.905-OLSON132013SP:24.905,24.9052013SP
11,"Bolton, Lori",Quant Phys:Organ Transport Sys,None,6.522-BOLTON172017SP:6.522,6.5222017SP
12,"Sykes, Brendon",Acoustics and Sensing,0470273712 (Halsted Press),2.065-SYKES152015SP:2.065,2.0652015SP
13,"Rocha, Trinity",Hispanic American Lit & Film,0415306868 (hbk.),21F.730-ROCHA122013FA:21F.730,21F.7302013FA
14,"Davies, Luisa",Nonlinear Dynamics,0471359424 (paper : alk. paper),2.034-DAVIES182018SP:2.034,2.0342018SP
15,"Obrien, Franciszek",Macromolecular Hydrodynamics,0471802441 (v. 2) :,10.531-OBRIEN162016SP:10.531,10.5312016SP
16,"Bell, Eileen",Modern Art & Mass Culture,0500283354 (pbk.),4.602-BELL2012SP:4.602,4.6022012SP
17,"Frost, Maya",Reading Seminar in Soc Science,0872864286,17.910-FROST182018SP:17.910,17.9102018SP
18,"Ferrell, Elspeth",Reading Seminar in Soc Science,0300033362 (alk. paper),17.955-FERRELL172017SP:17.955,17.9552017SP
19,"Donnelly, Antonia",Organic Chemistry I,0495112682,5.12-DONNELLY2009FA:5.12,5.122009FA
20,"Haley, Audrey",Intro: Hydro & Water Resources,None,12.320A-HALEY172018FA:12.320A,12.320A2018FA
21,"Ward, Wanda",Global History of Architecture,None,4.650-WARD212021SP:4.650,4.6502021SP
22,"Webster, Asa",Frontiers in Chemical Biology,0126437459,5.54J-WEBSTER2009FA:5.54,5.542009FA
23,"Luna, Rayhan",Frontiers in Chemical Biology,0126437459,5.54J-LUNA2009FA:7.540,7.5402009FA
24,"Brooks, Willie",Spec Subj in Political Science,0312640374 :,17.S919-BROOKS2012SP:17.S919,17.S9192012SP
25,"Ward, Mya",Intro to Astronomy,9780321595584 (alk. paper),8.282-WARD192019SP:8.282,8.2822019SP
26,"Campos, Lacey",Trsprtn Policy & Envir Limits,9780262012386 (hardcover : alk. paper),1.253-CAMPOS2009SP:1.253,1.2532009SP
27,"Taylor, Maja",Creating Video Games,None,6.073-TAYLOR212021SP:6.073,6.0732021SP
28,"Stein, Jorge",Organic Chemistry I,9780078021558,5.12-STEIN192019SP:5.12,5.122019SP
29,"Glover, Maddison","Sustainability, Trade, & Envir",None,15.657-GLOVER2012SP:15.657,15.6572012SP
30,"Hahn, Pauline",History of Science,9781890951788,STS.310-HAHN122013FA:STS.310,STS.3102013FA
31,"Gregory, Brianna",Urban Design Politics,None,4.253-GREGORY162016SP:4.253,4.2532016SP
32,"Hoffman, Alesha",Cross-Cultural Investigations,088133748X,21A.801-HOFFMAN122013FA:21A.801,21A.8012013FA
33,"Villegas, Vinny",Qualit Meth:Designrs & Plannrs,0029346258 :,11.234-VILLEGAS2011SP:11.234,11.2342011SP
34,"Blevins, Steffan",Feminist Thought,0195150090,WGS.301-BLEVINS202020SP:WGS.301,WGS.3012020SP
35,"Mcleod, Josh","D-Lab:Water, Climate Change",None,EC.789-MCLEOD202020SP:EC.789,EC.7892020SP
36,"Palmer, Denis",Modern Music,None,21M.262-PALMER2009FA:21M.262,21M.2622009FA
37,"Randall, Wanda",German II,None,21G.452-RANDALL192019SP:21G.452,21G.4522019SP
38,"Hickman, Wilbur",Japan & East Asian Security,9780199937479 (hardback),17.486-HICKMAN142014SP:17.486,17.4862014SP
39,"Stark, Cassandra",Found of Bioinformatics,9780815341055 (hardcover),7.36-STARK2008SP:7.36,7.362008SP
40,"Bonilla, Simon",Leadership Stories,0395185572,15.269-BONILLA162017FA:15.269,15.2692017FA
41,"Bolton, Mercedes",ELS Writing Soc Sci & Arch,9780312566722,21F.228-BOLTON142014SP:21F.228,21F.2282014SP
42,"Ingram, Francesca",Writing & Reading the Essay,0312433093,21W.735-INGRAM2008SP:21W.735,21W.7352008SP
43,"Ryan, Darcie",Intro to Probability I,None,6.431A-RYAN182019FA:6.431A,6.431A2019FA
44,"O'Neill, Zoe",Spanish IV,0801315891 (pbk.),21F.774-O'NEILL GROEGE2012FA:21F.774,21F.7742012FA
45,"Pruitt, Blanche",Spec Prob: Arch Studies,0262181010,4.297-PRUITT2010FA:4.297,4.2972010FA
46,"Stark, Kaan",Nuclear Sci & Engr Laboratory,None,22.90-STARK152016FA:22.90,22.902016FA
47,"Mcclure, Laura",Product Engineering Process,0470049642 (set),2.009-MCCLURE2011FA:2.009,2.0092011FA
48,"Rowland, Kitty",Design Med Devices & Implants,None,3.961-ROWLAND172017SP:3.961,3.9612017SP
49,"Hines, Gertrude",Bus Anal Using Fin Statements,0471702218 (university ed.),15.535-HINES2009FA:15.535,15.5352009FA

In [59]:
GOLD_SQL = """
SELECT DISTINCT
  "LIBRARY_COURSE_INSTRUCTOR"."INSTRUCTOR_NAME",
  "LIBRARY_SUBJECT_OFFERED"."SUBJECT_TITLE",
  COUNT("LIBRARY_RESERVE_CATALOG"."CATALOG_ISBN") OVER (
    PARTITION BY
      "LIBRARY_COURSE_INSTRUCTOR"."LIBRARY_COURSE_INSTRUCTOR_KEY",
      "LIBRARY_SUBJECT_OFFERED"."LIBRARY_SUBJECT_OFFERED_KEY"
  ) AS "AMOUNT_OF_MATERIAL"
FROM "LIBRARY_COURSE_INSTRUCTOR"
JOIN "LIBRARY_RESERVE_MATRL_DETAIL"
  ON "LIBRARY_COURSE_INSTRUCTOR"."LIBRARY_COURSE_INSTRUCTOR_KEY" =
     "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_COURSE_INSTRUCTOR_KEY"
JOIN "LIBRARY_SUBJECT_OFFERED"
  ON "LIBRARY_SUBJECT_OFFERED"."LIBRARY_SUBJECT_OFFERED_KEY" =
     "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_SUBJECT_OFFERED_KEY"
JOIN "LIBRARY_RESERVE_CATALOG"
  ON "LIBRARY_RESERVE_CATALOG"."LIBRARY_RESERVE_CATALOG_KEY" =
     "LIBRARY_RESERVE_MATRL_DETAIL"."LIBRARY_RESERVE_CATALOG_KEY"
ORDER BY "LIBRARY_COURSE_INSTRUCTOR"."INSTRUCTOR_NAME"
LIMIT 100;
"""

gold_df = pd.read_sql(GOLD_SQL, conn)
print("Gold result rows:", len(gold_df))
display(gold_df.head(50))

/tmp/ipython-input-3278973783.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  gold_df = pd.read_sql(GOLD_SQL, conn)

Gold result rows: 100

      INSTRUCTOR_NAME                   SUBJECT_TITLE  AMOUNT_OF_MATERIAL
0       Abbott, Aadam   Pol Economy of Chinese Reform                   0
1   Abbott, Alejandro                     Geodynamics                   1
2      Abbott, Alissa  Chinese Migration 1567-Present                   0
3   Abbott, Anastasia           Water Quality Control                   1
4     Abbott, Bartosz  Statistics for Brain & Cog Sci                   2
5     Abbott, Bernice                        German I                   1
6      Abbott, Callan             Wilds of Literature                   6
7      Abbott, Elysia                Data and Society                   2
8      Abbott, Emilia  American Politcal Institutions                  17
9       Abbott, Floyd         Cellular Neuro and Comp                   0
10      Abbott, Frank                     Bestsellers                   2
11      Abbott, Hanna          Archaeological Science                   0
12      Abbott, Inaya      UPOP Engineer Practice Exp                   0
13     Abbott, Kendra     Intro to Stochastic Process                   2
14     Abbott, Kendra            Special Subject: CMS                   4
15       Abbott, Leia         The Ancient World: Rome                   3
16      Abbott, Louie            Structural Mechanics                   0
17     Abbott, Marley      Intro to Experimental Chem                   0
18     Abbott, Marnie          Intro Chem Engineering                   1
19    Abbott, Matthew                      Japanese V                   1
20      Abbott, Megan               Games and Culture                   0
21     Abbott, Melody  Product Design and Development                   0
22   Abbott, Michaela  Technology in American History                   1
23       Abbott, Neil     Internal Combustion Engines                   4
24    Abbott, Nikodem  Fun & Games Cultrl Prspectives                   2
25       Abbott, Noel            Creating Video Games                   0
26     Abbott, Robert     Rel Quantum Field Theory II                   1
27        Abbott, Roy                        Latin II                   1
28   Abbott, Savannah      Intro Urban Design & Devel                  12
29       Abbott, Tess            Evaluating Education                   0
30       Abbott, Thea   Special Seminar in Management                   1
31       Abbott, Thea    Thermal-Fluids Engineering I                   1
32    Abbott, Trinity      Foundations of Info Policy                   0
33    Abbott, Trinity      Spec Studies in Management                   1
34      Abbott, Yasin                        Downtown                   0
35     Abbott, Zainab  Advrtsng & Pop Culture: E Asia                   0
36     Adkins, Aamina  Intro to Psychological Science                   3
37     Adkins, Alesha             Modern Astrophysics                  11
38       Adkins, Alia        Computational Design Lab                  22
39       Adkins, Ayah  Bus of Software& Dig Platforms                   3
40     Adkins, Ayesha           Unified Engin: Thermo                   1
41     Adkins, Darren     Microfabrication: Front End                   7
42      Adkins, Denis  Intro: Housing & Community Dev                   6
43    Adkins, Elspeth      International Capital Mkts                   2
44    Adkins, Elspeth             Particle Physics II                   4
45     Adkins, Emilia     Physics in the 20th Century                   0
46       Adkins, Enzo            The World Since 1492                   5
47     Adkins, Fannie                     The Vikings                   3
48    Adkins, Finnian     Nature, Environment, Empire                  10
49   Adkins, Georgina                       The Bible                   2